body,
span {
    font-family: didot;
    /*stevie-sans, sans-serif;*/
}

p {
    font-family: garamond;
    font-style: normal;
    font-weight: 200;
    font-size: large;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: didot;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    color: black;
}

b {
    font-family: garamond;
    font-style: normal;
    font-weight: 700;
}

.click {
    color: black;
    text-decoration: none !important;
    text-transform: none;
}

.click1 {
    color: white;
    text-decoration: none !important;
    text-transform: none;
    font-weight: 700;
    text-align: center;
}

.click1:hover {
    color: white;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 200;
    font-style: normal;
    font-size: large;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-2,
.col-3,
.col-4,
.col-5,
.col-2 {
    position: relative;
    text-align: center;
    color: white;
}

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
    .dropdown-menu>li:click {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:click>.submenu {
        display: block;
    }
}


/* ============ desktop view .end// ============ */


/* ============ small devices ============ */

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}

.material-icons {
    font-size: 25px;
    vertical-align: bottom;
}

.material-icons-outlined {
    font-size: 20px;
    vertical-align: center;
}

@media screen and (max-width: 1148px) {
    .bg {
        max-width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 768px) {
    .bg {
        float: none;
        max-width: 80%;
        margin: 1% auto;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 85vw;
    margin: 1rem auto;
}

#bg,
.overlay {
    text-align: center;
}

img,
.overlay {
    transition: 0.3s all;
    border-radius: 3px;
}

#bg {
    float: left;
    max-width: 31%;
    position: relative;
    margin: 0.5%;
}

#bg img {
    width: 100%;
}

#bg .overlay {
    color: white;
    text-decoration: none;
    opacity: 0;
    position: absolute;
    left: 10%;
    font-size: 25px;
    text-align: center;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
}

#bg:hover .overlay {
    opacity: 1;
}

#bg .overlay p {
    color: white;
    text-decoration: none;
    opacity: 0;
    position: absolute;
    font-size: 25px;
}

#bg:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

@media screen and (max-width: 1148px) {
    #bg {
        max-width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 768px) {
    #bg {
        float: none;
        max-width: 80%;
        margin: 1% auto;
    }
}