body, span {
  font-family: didot;/*stevie-sans, sans-serif;*/
    
}

p
{
    font-family: garamond;
    font-style: normal;
    font-weight: 200;
    font-size: large;
    color: black;
}
 
h1, h2, h3, h4, h5, h6, span
{
  font-family: didot;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: black;
}

b {
  font-family: garamond;
  font-style: normal;
  font-weight: 700;
}

.imgtext {		
  color: white;
  opacity: 0;
  position: absolute;
  font-size: 25px;

  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: 200;
  font-style: normal;
  font-size: large;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.pic {
  position: relative;
  overflow: hidden;
}

.pic img:hover{
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
  transform: scale(1.03);
}

.imgtext:hover {
  
  -webkit-opacity: 100;
  opacity: 100;
}

.imgtext1:hover {
  
  -webkit-opacity: 100;
  opacity: 100;
}

.col-3, .col-4, .col-5, .col-2  {
  position: relative;
  text-align: center;
  color: white;
}

