<div class='row justify-content-center pt-4'>
    <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
        <div class="row">
            <div class="col-sm-5 col-lg-5 pt-4">
                <img src="assets/images/photo.jpg" class="img-fluid" height=60% width=100%>
            </div>
            <div class="col-sm-5 col-lg-7">
                <p style="text-align: justify;"><br> Hi! I am a PhD student at <a href="https://dvstudies.net/">Digital Visual Studies</a>, a center between the Max Planck Society (MPG) 
                    and the University of Zurich (UZH). I hold a Bachelor’s in Informatics
                     from Amsterdam University College and a Master’s of Science in Digital 
                     Humanities Engineering from the Swiss Federal Institute of Technology of Lausanne (EPFL). Before joining DVS,
                    I worked as a data scientist for insurance and academic publishing companies and as an AI developer 
                      in the art market.
                    <br><br>
                    I'm interested in interdisciplinary research between the Arts and Artificial Intelligence. 
                    My main fields of research include disentanglement and concept-based generative AI, creative AI,
                    critical computer vision, AI assisted art authentication and machinic curation of artistic and literary collections. 
                    <br><br>
                    I am a researcher that doesn't believe in disciplinary boundaries; a creator who
                    sees art as a guide to the future and to reflection; a scientist in search for critiques; 
                    a person who is in love with the past but only thinks about the future.

                </p>
            </div>
        </div>

    </div>
    <!-- <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
        <p> <br>
            <button type="button" class="btn btn-outline-dark mb-2">Python</button>
            <button type="button" class="btn btn-outline-dark mb-2">Tensorflow</button>
            <button type="button" class="btn btn-outline-dark mb-2">Pytorch</button>
            <button type="button" class="btn btn-outline-dark mb-2">Javascript</button>
            <button type="button" class="btn btn-outline-dark mb-2">D3</button>
            <button type="button" class="btn btn-outline-dark mb-2">Three.js</button>
            <button type="button" class="btn btn-outline-dark mb-2">Leaflet</button>
            <button type="button" class="btn btn-outline-dark mb-2">jQuery</button>
            <button type="button" class="btn btn-outline-dark mb-2">PHP</button>
            <button type="button" class="btn btn-outline-dark">HTML</button>
            <button type="button" class="btn btn-outline-dark">CSS</button>
            <button type="button" class="btn btn-outline-dark">Bootstrap</button>
            <button type="button" class="btn btn-outline-dark">Git</button>
            <button type="button" class="btn btn-outline-dark">PostgreSQL</button>
            <button type="button" class="btn btn-outline-dark">Elasticsearch</button>
            <button type="button" class="btn btn-outline-dark">Matlab</button>
            <button type="button" class="btn btn-outline-dark">C</button>
        </p>

    </div> -->
    <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
        <p><br><span class="material-icons-outlined">
                email
            </span> ludovica.schaerf at gmail.com <br>
            <span class="material-icons-outlined">
                phone
            </span> +41 779842115<br>
            <span class="material-icons-outlined">
                location_on
            </span> Zurich, 8057, Switzerland <br>
            <span class="material-icons-outlined">
                vertical_align_bottom
            </span><a href="https://www.canva.com/design/DAGJzMXYtJc/dyxr9fWDl3tRb0SEe2Ay-g/view?utm_content=DAGJzMXYtJc&utm_campaign=designshare&utm_medium=link&utm_source=editor"> Curriculum Vitae</a>
        </p>


    </div>
    <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
    </div>

