<div class='row justify-content-center pt-4'>
    <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
        <div class="row">
            <div class="col-4">
                <img src="assets/images/photo.jpg" style='float:left; padding-top:30px; padding-bottom: 20px;' height=90% width=100%>

            </div>
            <div class="col-8">
                <p><br> A PhD student in Digital Visual Studies at Max Planck Society and University of Zurich. But also, a 6 year old with a passion for eurithmics and sculpting crete;
                     an 11 year old in love with the historical beauty of her city, Rome; a 14 year old struggling to translate Ancient
                    Greek and Latin literature; an high schooler interested in combining a future knowledge of informatics with metaphysics and Kant's theories;
                     an 18 year old going to study computer science and buying her first laptop for the occasion;
                    an Amsterdammer absorbing the contemporary artistic and clubbing scene of the city; a volleyball player and coach; a very good student; 
                    a researcher that doesn't believe in disciplinary boundaries; a creator who
                    sees art as a guide to the future and to reflection; a scientist in search for critiques; 
                    a person who is in love with the past but only thinks about the future.

                </p>
            </div>
        </div>

    </div>
    <!-- <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
        <p> <br>
            <button type="button" class="btn btn-outline-dark mb-2">Python</button>
            <button type="button" class="btn btn-outline-dark mb-2">Tensorflow</button>
            <button type="button" class="btn btn-outline-dark mb-2">Pytorch</button>
            <button type="button" class="btn btn-outline-dark mb-2">Javascript</button>
            <button type="button" class="btn btn-outline-dark mb-2">D3</button>
            <button type="button" class="btn btn-outline-dark mb-2">Three.js</button>
            <button type="button" class="btn btn-outline-dark mb-2">Leaflet</button>
            <button type="button" class="btn btn-outline-dark mb-2">jQuery</button>
            <button type="button" class="btn btn-outline-dark mb-2">PHP</button>
            <button type="button" class="btn btn-outline-dark">HTML</button>
            <button type="button" class="btn btn-outline-dark">CSS</button>
            <button type="button" class="btn btn-outline-dark">Bootstrap</button>
            <button type="button" class="btn btn-outline-dark">Git</button>
            <button type="button" class="btn btn-outline-dark">PostgreSQL</button>
            <button type="button" class="btn btn-outline-dark">Elasticsearch</button>
            <button type="button" class="btn btn-outline-dark">Matlab</button>
            <button type="button" class="btn btn-outline-dark">C</button>
        </p>

    </div> -->
    <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
        <p><br><span class="material-icons-outlined">
                email
            </span> ludovica.schaerf at gmail.com <br>
            <span class="material-icons-outlined">
                phone
            </span> +41 779842115<br>
            <span class="material-icons-outlined">
                location_on
            </span> Zurich, 8057, Switzerland <br>
            <span class="material-icons-outlined">
                vertical_align_bottom
            </span><a href="assets/CV - Ludovica Schaerf.pdf"> Curriculum Vitae</a>
        </p>


    </div>
    <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
    </div>

