
<div class='row justify-content-center'>
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="800" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FiloZSWkp2d7Eqie4PHOwpT%2FLatent-Atlas-Calvino-team-library%3Fnode-id%3D2345-185%26node-type%3DCANVAS%26t%3D5qfsj43pRMWFNeoa-1%26scaling%3Dscale-down%26content-scaling%3Dfixed%26page-id%3D0%253A1" allowfullscreen></iframe>
    <div class="col-8 col-md-3">
    <br>
    <h5 style='text-align:left;'>Latent Atlas Calvino</h5>

    <p style='text-align:left;'> Project done as part of the PhD, Fall 2024  <br>
    </p>
        <br>
    </div>
    <br>

</div>