<div class='row justify-content-center pt-4'>
    <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
<br><p><b>Publications</b></p><br>
<p>"FeatureInject: Generalizable Training-Free Image Editing for U-Net Text-to-Image Diffusion Models". Under review. Schaerf Ludovica, Alfarano Andrea, Torre Davide, Impett Leonardo, Silvestri Fabrizio. 2025. </p>
<br>
<p>"Digital F(r)ictions: Re-imagining Colombian Art and its Territory". in <i>SIGGRAPH 2025</i>. Zapata Ana*, Schaerf Ludovica*, Neri Iacopo*, Negueruela del Castillo Dario, 2025.</p>
<br>
<p>"Between the Discrete and the Infinite: Attention and Latent Space Metaphors in Borges and Calvino". in <i>Proceedings of xCoAx 2025</i>. Schaerf Ludovica*, Zapata Ana*, Negueruela del Castillo Dario, Neri Iacopo, 2025.</p>
<br>
<p>"Training-Free Style and Content Transfer by Leveraging U-Net Skip Connections in Stable Diffusion". in <i>CVEU, CVPR 2025</i>. DOI: <a href="https://arxiv.org/abs/2501.14524">https://arxiv.org/abs/2501.14524</a>. Schaerf Ludovica, Alfarano Andrea, Impett Leonardo, Silvestri Fabrizio. 2025. </p>
<br>
<p>"ColorwAI: Generative Colorways of Textiles through GAN and Diffusion Disentanglement" in <i>VISART, ECCV 2024, oral presentation</i>. DOI: <a href="https://arxiv.org/abs/2407.11514">https://arxiv.org/abs/2407.11514</a>. Ludovica Schaerf, Andrea Alfarano, Eric Postma, September 2024.</p>
<br>
<p>"Reflections on Disentanglement and the Latent Space" in <i>xCoAx, School of X, 2024</i>. Ludovica Schaerf. September 2024.</p>
<br>
<p>"Art Forgery Detection using Kolmogorov Arnold and Convolutional Neural Networks", <i>AI4VA, ECCV 2024</i>. Sandro Boccuzzo, Desirèe Meyer, Ludovica Schaerf. September 2024.</p>
<br>
<p>“AI Art Curation: Re-imagining the City of Helsinki on the Occasion of its Biennial”, presented at <i>EC3V, CVPR 2023, best paper award</i>, DOI: <a href="https://doi.org/10.48550/arXiv.2306.03753">https://doi.org/10.48550/arXiv.2306.03753</a>, Ludovica Schaerf*, Pepe Ballesteros*, Valentine Bernasconi*, Iacopo Neri*, and Dario Negueruela del Castillo*, under review.</p>
<br>
<p>“New Directions May Emerge: AI Curation of Helsinki’s Cultural Landscape”, in <i>Disegno MOME</i>, special issue on “Designing Digital Humanities”, DOI: <a href="https://disegno.mome.hu/articles/Disegno_2023_I_06_Neri-et-al.pdf">https://disegno.mome.hu/articles/Disegno_2023_I_06_Neri-et-al.pdf</a>, Darío Negueruela del Castillo*, Iacopo Neri*, Pepe Ballesteros Zapata*, Valentine Bernasconi*, and Ludovica Schaerf*, December 2023.</p>
<br>
<p>“Synthetic images aid the recognition of human-made art forgeries”, in <i>PLOS ONE</i>. DOI:<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0295967">https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0295967</a>. Johann Ostmeyer*, Ludovica Schaerf*, Pavel Buividovich, Tessa Charles, and Carina Popovici, January 2024.</p>
<br>
<p>“Art Authentication with Vision Transformers”, in <i>Springer for Neural Computing and Applications</i>, special issue on "Topical Collection on Visual Pattern Recognition and Extraction for Cultural Heritage", DOI: <a href="https://doi.org/10.1007/s00521-023-08864-8">https://doi.org/10.1007/s00521-023-08864-8</a>, Ludovica Schaerf, Eric Postma, and Carina Popovici, July 2023.</p>
<br>
<p>“The diachronic development of Debussy’s musical style: a corpus study with Discrete Fourier Transform” in <i>Nature Humanities and Social Sciences Communications</i>, DOI: <a href="https://doi.org/10.1057/s41599-023-01796-7">https://doi.org/10.1057/s41599-023-01796-7</a>, Sabrina Laneve*, Ludovica Schaerf*, Gabriele Cecchetti*, Johannes Hentschel*, and Martin Rohrmeier, June 2023. </p>        
<br>
<p>“Transhistorical Urban Landscape as Hypermap”, in <i>ACM Conference on Hypertext and Social Media (HT2023)</i>, DOI: <a href="https://doi.org/10.1145/3603163.3609083">https://doi.org/10.1145/3603163.3609083</a>, Dario Negueruela del Castillo*, Iacopo Neri*, Paul Guhennec*, Ludovica Schaerf*, Valentine Bernasconi*, and Pepe Ballesteros Zapata*, September 2023.</p>
<br>
<p>* Indicates equal contribution.</p>
<div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
</div>
<br><p><b>Talks</b></p><br>
<p>"Interpreting Artificial Images Inside Out", in Ethics and Aesthetics of AI Generated Images Conference. Venice, Italy, 10.05.25. <a href="https://www.canva.com/design/DAGlp9c4_bQ/CG9G71ksg7WhC4q-Y-9XMw/edit?utm_content=DAGlp9c4_bQ&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Link to slides</a>.</p>
<br>
<p>"On Latent Representations of Image Generative Models", in Cambridge University, Visitor Seminar. Cambridge, UK, 09.24. <a href="https://www.canva.com/design/DAGTv-jUXdI/j3lR9NwjXy42deyRgFq2vw/edit?utm_content=DAGTv-jUXdI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Link to slides</a>.</p>
<br>
<p>"Città (In)visibili di Calvino. Dando Forma alla Letteratura", in Letteratura e intelligenza artificiale: un dialogo interdisciplinare, 2024. Rome, Italy, 16.09.24. <a href="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FiloZSWkp2d7Eqie4PHOwpT%2FLatent-Atlas-Calvino-team-library%3Fnode-id%3D2345-185%26node-type%3DCANVAS%26t%3D5qfsj43pRMWFNeoa-1%26scaling%3Dscale-down%26content-scaling%3Dfixed%26page-id%3D0%253A1">Link to slides</a>.</p>
<br>
<p>“Disentanglement, the Multi-dimensional Archive, and the Use of Color in Textile Samples”, in School of X, xCoAx 2024. Fabrica, Italy, 13.07.24. <a href="https://www.canva.com/design/DAGFelsd1mk/_sSymdF9rh9y_HtTXVabuQ/view?utm_content=DAGFelsd1mk&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton">Link to slides</a>.</p>
<br>
<p>“TextAIles: Color Manipulations in the Latent Space of StyleGAN3”, in Computer Vision and Image Analysis of Art, Electronic Imaging 2024. San Francisco, United States, 21-25.01.24. <a href="https://www.canva.com/design/DAF6o2Z08LE/Xz_j837XM2VtYLUF3FYH9w/view?utm_content=DAF6o2Z08LE&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton">Link to slides</a>.</p>
<br>
<p>“Do Computer Vision models internally differentiate visual and conceptual aspects of art without explicit supervision?”. Cultural Data Analytics Conference 2023 (CUDAN 2023), Tallinn, Estonia, 13-16.12.2023. <a href="https://www.youtube.com/watch?v=erkg5nB-4eE">Link to video presentation</a>.</p>
<br>
<p>“Transhistorical Urban Landscape as Hypermap”. ACM Conference on Hypertext and Social Media (HT2023), Max-Plank-Institut für Kunstgeschichte, Villino Stroganoff, Rome, Italy, 06.09.2023.</p>
<br>
<p>“Disentanglement: Inside Single Concepts of AI”. Workshop “Towards a Collaborative Cultural Analysis of the City of Rome”, organized by Bibliotheca Hertziana Max-Plank-Institut für Kunstgeschichte, Villino Stroganoff, Rome, Italy, 26-28.06.2023.</p>
<br>
<p>“Towards AI Art Curation: Re-imagining the city of Helsinki on the occasion of its Biennial”. CVPR workshop on “Ethical Considerations in Creative Applications of Computer Vision” (EC3V), Vancouver, United States, 18.06.2023. <a href="https://docs.google.com/presentation/d/1FEKS_QFUVEMDtXC0FyeMdkALh-ynvbFxj70-p1sC4bA/edit?usp=sharing">Link to slides</a>.</p>
<br>
<p>“Synthetic Data in Art Historical Datasets? Considerations from the Case Study on Art Authentication”. Symposium “From Hype to Reality:
    Artificial Intelligence in the Study of Art and Culture,” organized by Digital Society Initiative and Digital Visual Studies, Zurich, Switzerland, 20-21.04.2023.
</p>

<div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
</div>
<br><p><b>Art Projects</b></p><br>
<p>"Digital F(r)ictions", AI art curation for the Mambo Museum Bogotà 2024. With Ana Zapata, Iacopo Neri, Dario Negueruela del Castillo, Pepe Ballesteros Zapata. Exhibited at <i>CVPR AI Art 2025</i>.</p>
<br>
<p>“Newly Formed City”, AI art curation for the Helsinki Biennial 2023. With Iacopo Neri, Dario Negueruela del Castillo, <a href="https://helsinkibiennaali.fi/en/artist/yehwan-song/">Yehwan Song</a>, Pepe Ballesteros Zapata, Valentine Bernasconi.</p>
<br>

<div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
</div>
<br><p><b>Lecturing</b></p><br>
<p>“Digital Visual Studies”. Intensive course. With Ana Zapata, Pepe Ballesteros Zapata, Dario Negueruela del Castillo, Iacopo Neri. Universidad de los Andes, Spring 2025. Bogotà, Colombia. <a href="https://facart.es/estudios-visuales-25">More info.</a></p>
<br>
<p>“Exploring Image Generation and Editing Methods”. Guest lecture at Computational Creativity course. University of Coimbra, Spring 2025. Coimbra, Portugal. <a href="https://www.canva.com/design/DAGlWRm2fJY/FSJngJ4icM9XEQ4-KL2-qA/edit?utm_content=DAGlWRm2fJY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Link to slides.</a></p>
<br>
<p>“AI and Computational Thinking in Digital Art History”, Seminar. With Pepe Ballesteros Zapata and Dario Negueruela del Castillo. University of Zurich, Spring 2024. Three papers from student projects were submitted for publication! <a href="https://dvstudies.net/2024/06/04/ai-and-computational-thinking-in-digital-art-history/">More info</a>.</p>
<br>

<div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
</div>
<br><p><b>Organization</b></p><br>
<p>“Colors of AI”, workshop at International Conference on Computational Creativity. With Piera Riccio, Dejan Grba, Dario Negueruela del Castillo, Nurial Oliver. Jonkoping, Sweden, June 2024. <a href="https://dvstudies.net/2024/01/25/colors-of-ai-computational-creativity/">Webpage</a>.</p>
<br>
<div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
</div>
<br><p><b>Supervision</b></p><br>
<p>“Multimodal AI for Art Authentication”, master thesis supervision of Arda Batu Düzgün (MSc. Mechanical Engineering at ETHZ).</p>
<br>
<p>"AI for Art Authentication in East Asian Art”, master thesis supervision of Sandro Boccuzzo (MSc. Art History at UZH).</p>
<br>
<p>“Art Price Prediction with Deep Learning”, master project supervision of Lea Gschwenter and Alice Wang (MSc. Statistic at ETHZ).</p>
<br>
<p>“Tracing Picasso's Use of Titanium White using Computational Methods”, bachelor project supervision of Tanja Golub (BSc. Art History UZH).</p>
<br>


<div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
</div>

    </div>
</div>
