<div class='row justify-content-center pt-4'>
    <div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
<br><p><b>Publications</b></p><br>
<p>“The diachronic development of Debussy’s musical style: a corpus study with Discrete Fourier Transform” in Nature Humanities and Social Sciences Communications, DOI: <a href="https://doi.org/10.1057/s41599-023-01796-7">https://doi.org/10.1057/s41599-023-01796-7</a>, Sabrina Laneve*, Ludovica Schaerf*, Gabriele Cecchetti*, Johannes Hentschel*, and Martin Rohrmeier, June 2023. </p>        
<br>
<p>“Art Authentication with Vision Transformers”, in Springer for Neural Computing and Applications, special issue on "Topical Collection on Visual Pattern Recognition and Extraction for Cultural Heritage", DOI: <a href="https://doi.org/10.1007/s00521-023-08864-8">https://doi.org/10.1007/s00521-023-08864-8</a>, Ludovica Schaerf, Eric Postma, and Carina Popovici, July 2023.</p>
<br>
<p>“Transhistorical Urban Landscape as Hypermap”, in ACM Conference on Hypertext and Social Media (HT2023), DOI: <a href="https://doi.org/10.1145/3603163.3609083">https://doi.org/10.1145/3603163.3609083</a>, Dario Negueruela del Castillo*, Iacopo Neri*, Paul Guhennec*, Ludovica Schaerf*, Valentine Bernasconi*, and Pepe Ballesteros Zapata*, September 2023.</p>
<br>
<p>“New Directions May Emerge: AI Curation of Helsinki’s Cultural Landscape”, in Disegno MOME, special issue on “Designing Digital Humanities”, DOI: <a href="https://disegno.mome.hu/articles/Disegno_2023_I_06_Neri-et-al.pdf">https://disegno.mome.hu/articles/Disegno_2023_I_06_Neri-et-al.pdf</a>, Darío Negueruela del Castillo*, Iacopo Neri*, Pepe Ballesteros Zapata*, Valentine Bernasconi*, and Ludovica Schaerf*, December 2023.</p>
<br>
<p>“Synthetic images aid the recognition of human-made art forgeries”, in PLOS ONE, Johann Ostmeyer*, Ludovica Schaerf*, Pavel Buividovich, Tessa Charles, and Carina Popovici, accepted for publication.</p>
<br>
<p>“AI Art Curation: Re-imagining the City of Helsinki on the Occasion of its Biennial”, in Multimedia Tools and Applications, special issue “New Methods of AI and Deep Learning in Multimedia”, DOI: <a href="https://doi.org/10.48550/arXiv.2306.03753">https://doi.org/10.48550/arXiv.2306.03753</a>, Ludovica Schaerf*, Pepe Ballesteros*, Valentine Bernasconi*, Iacopo Neri*, and Dario Negueruela del Castillo*, under review.</p>
<br>
<p>* Indicates equal contribution.</p>
<div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
</div>
<br><p><b>Talks</b></p><br>
<p>“TextAIles: Color Manipulations in the Latent Space of StyleGAN3”, in Computer Vision and Image Analysis of Art, Electronic Imaging 2024. San Francisco, United States, 21-25.01.24</p>
<br>
<p>“Do Computer Vision models internally differentiate visual and conceptual aspects of art without explicit supervision?”. Cultural Data Analytics Conference 2023 (CUDAN 2023), Tallinn, Estonia, 13-16.12.2023. <a href="https://www.youtube.com/watch?v=erkg5nB-4eE">LINK TO PRESENTATION</a></p>
<br>
<p>“Transhistorical Urban Landscape as Hypermap”. ACM Conference on Hypertext and Social Media (HT2023), Max-Plank-Institut für Kunstgeschichte, Villino Stroganoff, Rome, Italy, 06.09.2023.</p>
<br>
<p>“Disentanglement: Inside Single Concepts of AI”. Workshop “Towards a Collaborative Cultural Analysis of the City of Rome”, organized by Bibliotheca Hertziana Max-Plank-Institut für Kunstgeschichte, Villino Stroganoff, Rome, Italy, 26-28.06.2023.</p>
<br>
<p>“Towards AI Art Curation: Re-imagining the city of Helsinki on the occasion of its Biennial”. CVPR workshop on “Ethical Considerations in Creative Applications of Computer Vision” (EC3V), Vancouver, United States, 18.06.2023.</p>
<br>
<p>“Synthetic Data in Art Historical Datasets? Considerations from the Case Study on Art Authentication”. Symposium “From Hype to Reality:
    Artificial Intelligence in the Study of Art and Culture,” organized by Digital Society Initiative and Digital Visual Studies, Zurich, Switzerland, 20-21.04.2023.
</p>
<div class='col-8' style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=100%>
</div>

    </div>
</div>
