<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class='row justify-content-center'>
    <div class='col-8 col-sm-5 col-lg-8'>
        <!-- Setting the navigation bar at the top of the screen -->
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between mr-2 mt-4">
            <a href='' style='text-decoration: none;'>
                <h3 style='font-size: 23px;'>
                    Ludovica Schaerf
                    </h3>
            </a>
            <div class="justify-content-right">
                <ul class="navbar-nav mx-auto">
                <!-- <li class="nav-item dropdown" id="myDropdown">
                    <div class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style='font-size: 16px; color:black'> Project areas </div>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="critical-ai"> Critical AI </a>

                        </li>
                        <li> <a class="dropdown-item" href="art-and-ai"> Art and AI
                            </a>

                        </li>
                        <li> <a class="dropdown-item" href="digital-humanities"> Digital
                            Humanities </a>

                        </li>
                        <li> <a class="dropdown-item" href="data-visualization"> Data Visualization and Analysis
                            </a>

                        </li>
                    </ul>
                </li> -->
                <li class="nav-item">
                    <a href="about" style="font-family: didot; font-size: 16px; color:black" class="nav-link "> About </a>
                </li>
                <li class="nav-item">
                    <a href="publications" style="font-family: didot; font-size: 16px; color:black" class="nav-link "> Publications & Resources </a>
                </li>

            </ul>   
            </div>
        </nav>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
