<div class='row justify-content-center'>
    <!-- Your HTML content goes here -->
    <!-- home.component.html -->
    
    <div class='row justify-content-center pt-5'>
        <div class="col-8 col-sm-5 col-lg-8">
            <b>Portfolio of works</b><br> This portfolio of works presents my projects divided into macro categories following my main fields of interest.
        </div>
    </div>  
    <div class='row justify-content-center pt-5 pb-5'>
            <div class="col-8 col-sm-5 col-lg-4" style='text-align:left' id='bg'>
            <a href="/critical-ai">
                <img src='assets/images/arsham.jpg' alt='critical AI' height=80% width=100%>
                <p style='font-size:12px'>Daniel Arsham (2019). Blue Calcite Eroded Lucius Verus. From <a href="https://wave.fr/daniel-arsham-paris-galerie-perrotin-271309">here</a></p>
                <div class="overlay" style='top: 45%;'>Critical Artificial Intelligence</div>
                
            </a>
            <!-- ... rest of the content ... -->
        </div> 
        
        <div class="col-8 col-sm-5 col-lg-4" style='text-align:left' id='bg'>
            <a href="/art-and-ai">
                <img src='assets/images/bosch.jpg' alt='generative AI' height=60% width=100%>
                <p style='font-size:12px'>Hieronymus Bosch (1568-1600). Adoration of the shepherds. From <a href="https://en.wikipedia.org/wiki/Adoration_of_the_Christ_Child_(Bosch)#/media/File:BoschAdorationOfTheChildPainting.jpg">here</a>
                <div class="overlay" style='top: 30%;'>Artificial Intelligence <br>and Art</div>
                <div style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=70%>
                    <br>
                    <p>
                        <a href="/art-and-ai" class='click'>
                            <span class="material-icons">
                            expand_less
                        </span><b>Art and AI</b> Does AI get a say as an Art Connoisseur, Art Critic or Art Historian?
    
                        </a>
                    </p>
                    <p>
                        <a href="/critical-ai" class='click'>
    
                            <span class="material-icons">
                                chevron_left
                            </span><b>Critical AI: Philosophy, Arts, Tech and Critical Studies</b> Like in the cavities of the sculpture: present, past, and traces of the future brought together
                            
                        </a>
                    </p>
                </div>
            </a>
            <!-- ... rest of the content ... -->
        </div> 
        <!-- ... other columns and content ... -->
    </div>

    <div class='row justify-content-center pt-4'>
        <div class="col-8 col-sm-5 col-lg-3" style='text-align:left' id='bg'>
        <a href="/digital-humanities">
            <img src='assets/images/prete_scriba.png' alt='Digital Humanities' height=80% width=100%>
             <p style='font-size:12px'>Unknown. Bizantine iconography of a scribe annotating a book. From <a href="https://britishlibrary.typepad.co.uk/.a/6a00d8341c464853ef01a511c277ca970c-popup">here</a></p>
             <div class="overlay" style='top: 45%;'>
                 Digital Humanities
             </div>
            <!-- Image and content for Digital Humanities -->
        </a>
        <!-- ... rest of the content ... -->
        </div>
        <div class="col-8 col-sm-5 col-lg-2 pt-3 pe-4">
            <div style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=70%>
                <br>
                <p>
                    <a href="/digital-humanities" class='click'>

                        <span class="material-icons">
                        chevron_left
                    </span> <b>Digital Humanities as “Artis scriptoriae peritia"</b>. Like a scribe in the Middle Ages, so the digital humanist organizes, annotates, and rewrites the vastity of knowledge.
                    </a>
                </p>
                <p>
                    <a href="/data-visualization" class='click'><b>Data visualization and AI Art</b>. Revives data, reverses the navigation and reinvents engines, recreates art.
                    <span class="material-icons">
                        chevron_right
                    </span></a>
                </p>
            </div>

        </div>
        <div class="col-8 col-sm-5 col-lg-3" style='text-align:left' id='bg'>
            <a href="/data-visualization">
                <img src='assets/images/davenport.jpg' alt='Data Art' height=90% width=100%>
                <p style='font-size:12px'>Jim Davenport (unknown). Visualisation of the 2D outlines of Tate’s collection. From <a href="https://www.tate.org.uk/about-us/projects/transforming-tate-britain-archives-access/archives-access-project-open-data-brings">here</a></p>
                <div class="overlay" style='top: 55%;'>Data Visualization <br>and AI Art</div>
                <!-- Image and content for Digital Humanities -->
            </a>
            <!-- ... rest of the content ... -->
        </div>
    </div>

</div>