<div class='row justify-content-center'>
    <!-- Your HTML content goes here -->
    <!-- home.component.html -->
    
    <div class='row justify-content-center pt-5'>
        <div class="col-8 col-sm-5 col-lg-8">
            <b>Main Projects</b><br> This portfolio of works presents a selection of projects divided into macro categories following my main fields of interest.
        </div>
    </div>  
    <div class='row justify-content-center pt-5 pb-3'>
        <div class="col-sm-5 col-md-2 col-lg-3" style='text-align:left' id='bg'>
            <a href="generative-ai" style="text-decoration: none;" >
                <img src='assets/images/textaile_cover.png' alt='generative AI' height=90% width=100% >
                <div class="overlay" style='top: 15%;'>Generative AI</div>
                <!-- <p style='font-size:18px'>Text-AI-les: Disentanglement, Colors, Textiles</p> -->
            </a>
            <!-- ... rest of the content ... -->
        </div> 
        <div class="col-sm-1 col-md-1 col-lg-1" style='text-align:left' id='bg'>
        </div>
        <div class="col-sm-5 col-md-3 col-lg-3" style='text-align:left' id='bg'>
            <a href="critical-ai" style="text-decoration: none;">
                <img src='assets/images/textaile_critical.png' alt='critical AI' height=40% width=100%>
                <!-- <p style='font-size:18px'>The latent space, Deleuze, Hume and creativity.</p> -->
                <div class="overlay" style='top: 10%;'>Critical Computer Vision</div>
                <div style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=50%>
                    <br>
                    <p>
                        <a href="critical-ai" class='click'>
    
                            <span class="material-icons">
                                expand_less
                            </span><b>Critical AI: Philosophy, Arts, Tech and Critical Studies</b> On the latent space from a philosophical and creative perspective.
                            
                        </a>
                    </p>
                    <p>
                        <a href="generative-ai" class='click' >
                            <span class="material-icons">
                                chevron_left
                        </span><b>Generative AI: Representation learning, Disentanglement</b> Delving into vision AI's representations of colors in textiles.
    
                        </a>
                    </p>
                    
                </div>
            </a>
            <!-- ... rest of the content ... -->
        </div> 
        <!-- ... other columns and content ... -->
    </div>

    <div class='row justify-content-center pt-2 pb-3'>
        <div class="col-8 col-sm-5 col-lg-3" style='text-align:left' id='bg'>
        <a href="ai-curation" style="text-decoration: none;">
            <img src='assets/images/ai_curation.png' alt='AI Curation' height=80% width=100%>
             <!-- <p style='font-size:18px'>AI curation. ControlNet, Helsinki Biennial </p> -->
             <div class="overlay" style='top: 15%;'>
                 AI Art Curation
             </div>
            <!-- Image and content for Digital Humanities -->
        </a>
        <!-- ... rest of the content ... -->
        </div>
        <div class="col-8 col-sm-5 col-lg-2 pt-3 pe-4">
            <div style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=70%>
                <br>
                <p>
                    <span class="material-icons">
                        chevron_left
                    </span><a href="ai-curation" class='click'><b>AI Art Curation</b>. Reviving data and recreating art in the city of Helsinki.
                    </a>
                </p>
                <p>
                    <a href="calvino" class='click' style="text-decoration: none;">

                         <b>Latent Atlas of Calvino's Città Invisibili</b>. Re-imagining Kublai Khan's Atlas as a multimodal latent space.
                         <span class="material-icons">
                            chevron_right
                        </span></a>
                </p>
                
            </div>

        </div>
        <div class="col-8 col-sm-5 col-lg-3" style='text-align:left' id='bg'>
            <a href="calvino" style="text-decoration: none;">
                <img src='assets/images/calvino1.png' alt='Multimodal' height=80% width=100%>
                <!-- <p style='font-size:18px'>Latent Atlas of Calvino's Invisible Cities</p> -->
                <div class="overlay" style='top: 40%;'>Multimodal AI</div>
                <!-- Image and content for Digital Humanities -->
            </a>
            <!-- ... rest of the content ... -->
        </div>
    </div>

    <div class='row justify-content-center pt-5 pb-3'>
        <div class="col-sm-5 col-md-2 col-lg-3" style='text-align:left' id='bg'>
            <a href="art-authentication" style="text-decoration: none;" >
                <img src='assets/images/modigliani_gan.png' alt='AI Art Authentication' height=120% width=100% >
                <div class="overlay" style='top: 35%;'>AI Art <br>Authentication</div>
                <!-- <p style='font-size:18px'>Text-AI-les: Disentanglement, Colors, Textiles</p> -->
            </a>
            <!-- ... rest of the content ... -->
        </div> 
        <!-- <div class="col-sm-1 col-md-1 col-lg-1" style='text-align:left' id='bg'>
        </div> -->
        <div class="col-8 col-sm-5 col-lg-3">
            <div style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;' width=100% height=70%>
                <br>
                <p>
                    <span class="material-icons">
                        chevron_left
                    </span><a href="art-authentication" class='click'><b>AI Art Authentication</b>. Does AI get a say as an Art Connoisseur, Art Critic or Art Historian?
                    </a>
                </p>
                
            </div>

        </div>
        <div class="col-8 col-sm-5 col-lg-2">
        </div>
         <!-- ... other columns and content ... -->
    </div>


</div>


<!-- <p>
    <a href="art-and-ai" class='click' >
        <span class="material-icons">
        expand_less
    </span><b>Art and AI</b> Does AI get a say as an Art Connoisseur, Art Critic or Art Historian?

    </a>
</p> -->

<!-- <p>
    <a href="digital-humanities" class='click' style="text-decoration: none;">

         <b>Digital Humanities as “Artis scriptoriae peritia"</b>. Like a scribe in the Middle Ages, so the digital humanist organizes, annotates, and rewrites the vastity of knowledge.
         <span class="material-icons">
            chevron_right
        </span></a>
</p> -->

