<div class='row justify-content-center mt-5 pb-5' style='background-color:#d27672'>
    <div class='col-8'>
        <img src="assets/images/helsinki.gif"  style='float:left; padding-top:20px;' height=100% width=100%>
        <p style='font-size:12px'>Transformation of a location in Helsinki into an artwork by a local artist that our model predicts to belong to that location.</p>
    </div>
</div>    
<div class='row justify-content-center'>
    <div class="col-8 col-md-3">
    <br>
    <h5 style='text-align:left;'>Newly Formed Cities</h5>

    <p style='text-align:left;'> Project done in 2023 <br> as part of my PhD <br> at Digital Visual Studies (MPG-UZH) <br>
    </p>
    <div style='border-style: dashed none none none; border-width: 2px; border-color: lightgray;'>
    </div>

</div>
<div class="col-8 col-md-5 ps-5">
    
    <div width=100% height=70%>
       
        <p style='text-align:left;'><br>
            <em>
                This project was my first experience entering the world of artistic practices. We worked with the DVS team 
                on this installation for the Helsinki Biennial of 2023, where we asked to create an AI curation of the Helsinki Art Museum.
                We did so reimagining the space of Helsinki as an installation ground where the space merges into the art.
                We presented this work at EC3V (workshop at CVPR) where we won best presentation! And the full journal article
                has been submitted for publication. Here is its abstract:
            </em><br><br> 
            Art curatorial practice involves presenting an art collection in a knowledgeable
            way. Machine processes, on the other hand, are characterized by their ability to
            manage and analyze vast amounts of data. This paper explores the implications of
            contemporary machine learning models for the curatorial world through AI curation
             and audience interaction. The project was developed for the 2023 Helsinki
            Art Biennial, titled ”New Directions May Emerge,” and utilizes the Helsinki Art
            Museum (HAM) collection to re-imagine the city of Helsinki through the lens of
            machine perception. Visual-textual models are used to place museum artworks in
            public spaces, assigning fictional coordinates based on similarity scores. They are
            then employed to generate synthetic 360° art panoramas, transforming the space
            that each artwork inhabits in the city. The generation is guided by estimated
            depth values from 360° panoramas at each artwork location and using machine-
            generated prompts of the artworks. The result is an AI curation that places the
            artworks in their imagined physical space, blurring the lines of artwork, context,
            and machine perception. The project is virtually presented as a multimedia web-
            based installation, where users can navigate an alternative version of the city and
            explore and interact with its cultural heritage at scale.

            <br><br><br>For the full text: <a href="https://arxiv.org/abs/2306.03753">here</a>.
            <br> For the website: <a href='http://newlyformedcity.net/'>here</a>.
        </p>
    </div>
</div>

<div class='row justify-content-center mt-5 pb-5' style='background-color:black'>
    <div class='col-8'>
        <img src="assets/images/helsinki2.gif" style='float:left; padding-top:20px;' height=100% width=100%>
        <br>
        <p style='font-size:12px'>Example panoramas.The original artworks - on the right - start to inhabit the space (Visualization by Iacopo Neri)</p>
    </div>
</div>
